
.container{
    position:relative;
    left: 20vw;
    width: 50vw;
    height: 72vh;
    
    
    
}
.row{
    width: 50vw;
    font-size: 31px;
    text-align: center;
    margin-left: 23vw;
}
.box1{
 
 height: 10.92vh;
 text-align: center;
 background-color: white;
 border: solid black 2px;
}
.box2{
    height: 10.92vh;
    text-align: center;
    background-color: grey;
    border: solid black 2px;
}
/*
.box1{
 
 height: 10.92vh;
 text-align: center;
 background-color: white;
 border: solid black 2px;
}
.box2{
    height: 10.92vh;
    text-align: center;
    background-color: grey;
    border: solid black 2px;
}
.box1{
 
 height: 10.92vh;
 text-align: center;
 background-color: white;
 border: solid black 2px;
}
.box2{
    height: 10.92vh;
    text-align: center;
    background-color: grey;
    border: solid black 2px;
}*/

.footer{
    width: 100vw;
    height: 12vh;
}
@media (max-width: 1072px){
    .row{
        font-size: 24px;
    }

}
@media (max-width: 927px){
    .row{
        font-size: 22px;
    }
    
}
@media (max-width: 879px){
    .row{
        font-size: 12px;
    }
    

