*{
    margin: 0;
    padding: 0;
}
.container table, th, td {
    border:1px solid black;
    border-spacing: 40px;
    
  }
.container{
    width: 200px;
    margin: 4% 32%;
    display: block;
  }
  .container table{
      
      width: 560px;
      
  }
  .container td,th{
    padding: 0px 10px ; 
  }
  .container th:hover{
      background-color: chartreuse;
  }
  .container td:hover{
    background-color: chartreuse;
}
.container th:active{
    background-color: rgb(221, 60, 213);
}
.container td:active{
  background-color: rgb(224, 39, 169);
}