
	.table table-bordered border-primary {
  border: 1px solid black;
  border-color: black;
  text-align: left;}

 
  tr:hover {background-color: yellow;}
            

  th {
  background-color: white;
  color: black;
}
table td:hover {
    background-color: blue;
}