h1 {
    align-items: center;
    color: coral;
}

.cell {
    height: 50px;
    width: 50px;
    border: 1.5px solid grey;
    border-style: inset;
}

.black {
    float: left;
    background-color: rgb(153, 153, 153);
    font-size: 50px;
    text-align: center;
}

.white {
    float: left;
    background-color: #fff;
    font-size: 50px;
    text-align: center;
}