.box {
    box-sizing: border-box;
    border: 0px solid transparent;
    background-clip: padding-box;
}

.col-12 {
    border: 1px solid;
}

.form-container {
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px;
}