.col-12 {
    border: 1px solid;
}

.form-container {
    margin: 4px;
}

.card {
    width: 75rem;
    margin: auto;
    margin-top: 4px;
}

.btn-scale:hover {
    border: 1px solid;
    background-color: aquamarine;
}