*{
    margin: 0;
    padding: 0;
}
.title::before{
    content: '';
    background: #6ee95e;
    height: 5px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform:translateY(75px)
}
span{
     color: #6ee95e;
     font-weight: bold;
}